<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css}"
          rel="stylesheet">


    <title>후기 게시판 - 후기 작성하기</title>
</head>

<style>
    .container {
    width : 50%;
    margin : 0 auto;
    margin-top : 40px;
    }

    .container input {
    width : 100%;
    box-sizing : border-box
    }

    textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
        resize: none;
    }

    input[type=file]::file-selector-button {
        width: 70%;
        height: 38px;
        background: #FFC107;
    }
    .container button {
        width : 100%
    }

    #reviewPostContent {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
        resize: none;
    }
    img {
        width: 300px;
        height: 300px;
    }
    

</style>

<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>후기 작성 페이지</h2>
    </div>
        <form th:action="|/review/postPro|" method="post" enctype="multipart/form-data">
            업체명 :
                <input name="name" id= "autocompleteCompany" type="text" placeholder="업체명을 입력해주세요" aria-label="Search"/>
                <div>
                    <select id="companyName">
<!--                        <option th:value="${review.companyName}"></option>-->
                    </select>
                </div>

            제목 : <input name="reviewPostTitle" type="text" placeholder="제목을 입력해주세요.">
            내용 : <input id="reviewPostContent" name="reviewPostContent" placeholder="내용을 입력해주세요" >
            첨부파일:
            <div>
                </br>
                <input type="file" name="file1" id="file1" onchange="readURL1(this)"><img id="img1">
                </br>
                <input type="file" name="file2" id="file2" onchange="readURL2(this)"><img id="img2" >
            </div>

            <hr class="my-4">
                <!--컨트롤러의 매개변수의 값과 name 의 값이 같아야함-->
            <button class="btn btn-warning float-end" type="submit">작성</button>
        </form>
        </br>
        <button class="btn btn-warning float-end" th:onclick="|location.href='@{/review/list}'|">취소</button>
    </div>
</body>

<script>

    let data ="";
    let response;
    const SEARCH_API = "http://localhost:8080/api/search/companies?query=";
    let search = document.querySelector("#autocompleteCompany");
    let matchCompanyList = document.querySelector("#companyName");

    search.addEventListener('keypress', ()=> {
        if(search.value.trim() !== "") {
            getCompanies(SEARCH_API + search.value);
        }
    });

    search.addEventListener("change", ()=>{
        if(search.value.trim() !== "") {
            getCompanies(SEARCH_API + search.value);
        }
    });

    async function getCompanies(url){
        response = await fetch(url);
        data = await response.json();
        matchCompanyList.innerHTML="";
        let selectCompany = document.querySelector("select");

        selectCompany.addEventListener("click",function() {
            document.querySelector("#autocompleteCompany").value = selectCompany.value;
        });

        for(let i = 0; i < data.companyList.length; i++) {
            console.log(data.companyList[i].name);
            matchCompanyList.innerHTML +=`<option> ${data.companyList[i].name} [${data.companyList[i].companyAddress}]</option>`;
        }
    }

    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('img1').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('img1').src = "";
        }
    }

    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('img2').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('img2').src = "";
        }
    }

</script>
</html>