<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css}"
          rel="stylesheet">
    <title>후기 게시판 - 메인 페이지</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h1>후기 게시판</h1>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-warning float-end"
                    onclick="location.href='reviewPost.html'"
                    th:onclick="|location.href='@{/review/reviews/post}'|"
                    type="button">글쓰기</button>
            <button class="btn btn-warning float-end"
                    onclick="location.href='reviewMyList.html'"
                    th:onclick="|location.href='@{/review/reviews/myList}'|"
                    type="button">내가 쓴 글 보기</button>
            검색
            <button class="btn btn-warning float-end"
                    onclick="location.href='.html'"
                    th:onclick="|location.href='@{/review/reviews/search}'|"
                    type="button">검색</button>

        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록날짜</th>
                <th>좋아요수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reviewPost : ${reviews}">
                <td th:text="${reviewPost.reviewPostId}">글번호</td>
                <td><a href="reviewPost.html" th:href="@{|/review/reviews/${reviewPost.reviewPostId}|}"
                       th:text="${reviewPost.reviewPostTitle}">제목</a></td>
                <td th:text="${reviewPost.member}">작성자</td>
                <td th:text="${reviewPost.reviewPostDate}">등록날짜</td>
                <td th:text="${reviewLike}">좋아요</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>