<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 게시판 - 게시글 보기</title>

</head>
<body>
업체명 : <span th:text="${reviewPost.getCompany().getName()}">상품명</span><br/>
제목 : <span th:text="${reviewPost.getReviewPostTitle()}">상품명</span><br/>
내용 : <span th:text="${reviewPost.getReviewPostContent()}">상품명</span><br/>
사진1 : <img th:src="|/image/${reviewPost.getReviewPostImg1()}|" width="300" height="300"/>
사진2 : <img th:src="|/image/${reviewPost.getReviewPostImg2()}|" width="300" height="300"/>
</body>
</html>