<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css}"
      rel="stylesheet">
<link href="/css/reviewList.css" rel="stylesheet">
<title>후기 게시판 - 내가 쓴 글</title>
</head>

<body>
<div th:replace="fragments/bodyheader :: bodyheader"/>
<div class="container" style="max-width: 800px">
    <div class="reviewPost">
        <h2>후기 게시판</h2>
    </div>
    <div class="reviewPostCategory">
        <div class="col"  th:action="@{/review/myList}" method="get">
            <button class="btn btn-outline-success"
                    onclick="location.href='reviewPost.html'"
                    th:onclick="|location.href='@{/review/post}'|"
                    type="button" sec:authorize="hasRole('MEMBER')">글쓰기</button>
            <button class="btn btn-outline-success"
                    onclick="location.href='reviewMyList.html'"
                    th:onclick="|location.href='@{/review/list}'|"
                    type="button" sec:authorize="hasRole('MEMBER')">전체 목록 보기</button>
            <div class="input-group input-group-dynamic mb-4">
                <input class="form-control" name="searchKeyword" th:value="${searchKeyword}" placeholder="검색어를 입력해주세요" type="text">
                <input class="form-control" name="name" th:value="${name}" placeholder="회사명 또는 지역을 입력해주세요" type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">검색</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="reviewPostList">
        <table class="table" style="width: 800px">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>등록날짜</th>
                <th>좋아요수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="reviewPostContent"  th:each="reviewPost : ${reviewPost}" th:onclick="|location.href='@{/review/view(reviewPostId=${reviewPost.reviewPostId})}'|">
                <td tyle="padding: 10px; width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${reviewPost.member.getName()}">작성자</td>
                <td style="padding: 10px; width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" >
                    <span th:text="|[${reviewPost.name}]|"></span></br>
                    <span th:text="${reviewPost.reviewPostTitle}"></span>
                </td>
                <td style="padding: 10px; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${reviewPost.reviewPostDate}">등록날짜</td>
                <td style="padding: 10px; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${reviewPost.likeCount}">좋아요</td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
        <div class="page">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/review/myList(page = ${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color: black"></strong>
        </th:block>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>