<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="bodyfooter" class="footer_frag">
    <div class="footer_1line">
    <div class="footer_discription">
        TwoJTwoG Company © <br>
        박가경, 임종각, 김지영, 최정오 <br>
        기업솔루션 실무 프로젝트 개발을 위한 정보처리산업기사 과정평가형 과정 2기
    </div>
    <img src="/image/LOGO.png" class="footer_img">
    </div>

<br>
    <div class="footer_2line">

        <div class="footer_menu">
            <a href="/home" class="footer_menusource">지도 찾기 |</a>
            <a href="/searchcompanylist" class="footer_menusource">업체 정보 |</a>
            <a href="/review/list" class="footer_menusource">리뷰 게시판 |</a>
            <a href="/events/eventPost" class="footer_menusource">이벤트 게시판</a>
        </div>
        <div>

        </div>
    </div>


</footer>
