<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>



    <!--  모든 페이지의 bodyHeader 에 CSS 입니다.  -->
    <link href="/css/bodyheaderstyle.css" rel="stylesheet">

    <!--  모든 페이지의 bodyfooter 에 CSS 입니다.-->
    <link href="/css/bodyfooterstyle.css" rel="stylesheet">

    <!--  폰트 입니다. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <title>여긴 어디</title>
</head>
