body {
    margin:0;
    margin-bottom:100px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight:bold;
    font-size: 22px;
}

.header {
    height:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(76,188,127);
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}

.topmenu {
    margin-right:20px;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.logininfo {
    margin-left:22%;
    display:inline-flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height:30px;
    font-family: 'Nanum Gothic Coding', monospace;
    border: none;
    border-radius: 4px;
    font-weight:bold;
    font-size: 17px;
}

.button:hover {
    background-color: rgb(200,200,200);
    color:white;
}

.topmenusource {
    font-size:20px;
    text-decoration-line: none;
    color:white;
}
.topmenusource:hover {
    color:red;
}

.logo{
    margin-top:6px;
    margin-left:30px;
    width: 150px; 
    height: fit-content;
}
