.container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 50px 50px 100px 400px 30px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". eventPost ."
    ". eventPostCategory ."
    ". eventPostList ."
    ". page .";
    justify-items: stretch;
    align-items: stretch;
}

.eventPost {
    grid-area: eventPost;
    font-size: 50px;
    justify-self: center;
}

.eventPostCategory {
    grid-area: eventPostCategory;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-self: center;
    align-self: center;
}

.eventPostCategory button,
.eventPostCategory form {
    height: 38px;
    display: inline-block;
    margin: 0;
}

.eventPostList {
    grid-template-columns: 100%;
    grid-template-rows: 130px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-bottom: 0;
    grid-area: eventPostList;
    row-gap: 10px;
    word-wrap: break-word;
    justify-self: center;
}
.eventPostList tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}

.page {
    grid-area: page;
    word-wrap: break-word;
    justify-self: center;
    align-self: center;
}

.eventPostContent {
    cursor: pointer;
}

.eventPostContent:hover {
    background-color: green;
    color: white;
}

.table{
    margin-bottom: 0;
    table-layout: fixed;
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.button{
    display: inline-block;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.active {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    color: white;
}

strong {
    display: inline-block;
    width: 2rem; /* 너비와 높이를 같게 설정 */
    height: 2rem;
    padding: 0.5rem;
    border: 2px solid green;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    line-height: 10px;
}

a {
    color: black;
}

strong, a {
    margin-right: 10px;
}