.container {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 40px 100px 400px 20px 150px 100px 100px 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". companyname companyname ."
    ". image companyinfo ."
    ". . companyinfo ."
    ". companyintroduction companyintroduction ."
    ". gocompanyreview gocompanyeventpost ."
    ". companycomment companycomment ."
    ". companycommentlist companycommentlist .";
    justify-items: stretch;
    align-items: stretch;
}

.companyname {
    grid-area: companyname;
    font-size: 50px;
    justify-self: center;
}

.image {
    grid-area: image;
    width: 100%;
    height: 100%;
}

.companyinfo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "companyadress"
    "companystars";
    grid-area: companyinfo;
    padding-left: 5%;
    row-gap: 10px;
    word-wrap: break-word;
}

.list{
    color:blue;
    font-size:15px;
}
.list:before{
    content:"＃ ";
}
.companyadress {
    grid-area: companyadress;
}
.companystars {
    grid-area: companystars;
}

.companyintroduction {
    grid-area: companyintroduction;
}

.companyintroductiontext {
    color: rgba(0, 0, 0, 0.56);
    border-style:solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gocompanyreview {
    grid-area: gocompanyreview;
    justify-self: center;
    align-self: center;

}

.gocompanyreview > button {
    font-size: 175%;
    margin: 0;
    padding-bottom: 55px;
    padding-top:20px;
}

.gocompanyeventpost {
    grid-area: gocompanyeventpost;
    justify-self: center;
    align-self: center;

}

.gocompanyeventpost > button {
    font-size: 175%;
    margin: 0;
    padding-bottom: 55px;
    padding-top:20px;
}

.companycomment {
    grid-area: companycomment;
    align-self: center;
}

.companycommentlist {
    grid-area: companycommentlist;
    justify-items: center;
}

ul {
    word-wrap: break-word;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 53px 9% 66% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "companycommentnum companycommentwriter companycommentcontent companycommenttime";
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-items: stretch;
}

li {
    word-wrap: break-word;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px solid #efefef;
    font-size: 14px;
    cursor: pointer;
}

.companycommentnum {
    grid-area: companycommentnum;
}

.companycommentwriter {
    grid-area: companycommentwriter;
}

.companycommentcontent {
    word-wrap: break-word;
    grid-area: companycommentcontent;
}

.companycommenttime {
    grid-area: companycommenttime;
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

.star-warning {
    display :inline-block;
    color : red;
    font-size: 12px;
    margin-left:10px;
}