img[src]{
    margin:30px;
    width:200px;
    height:fit-content;
}

.signup_menu {
    margin-top:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup_text {
    font-size:35px;
    justify-self: center;

}

.signup_category {
    display:flex;
    justify-content: space-between;
}

.signup_category > button {
    font-size: 30px;
    padding:30px;
    margin:50px;
}