<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/loginStylesheet.css}"
          href="../../static/css/loginStylesheet.css" rel="stylesheet">
    <title>여긴 어디?</title>
</head>
<body>
<div class="box_login">
    <fieldset>
        <legend id="box_logo">
            <img src="../image/LOGO.png">
        </legend>
        <legend>
            <strong>LOGIN</strong>
        </legend>

        <!--    로그인 form-->
        <div class="form">
            <form action="" th:action th:object="${loginForm}" method="post">

                <label for="loginCategory">로그인(개인/기업) 선택</label>
                <select name="loginCategory" id="loginCategory">
                    <option value="Member">개인</option>
                    <option value="Company">기업</option>
                </select>

                <input type="text" name="loginId" eautocomplete="off" th:field="*{loginId}" title="아이디" placeholder="아이디">

                <input type="password" name="loginPw" title="비밀번호"th:field="*{loginPw}" placeholder="비밀번호">

                <button class="btn_common lrg blu"onclick="location.href='경로'" type="submit">로그인</button>
            </form>
        </div>
        <div class="links">
            <button class="btn_common lrg" onclick="location.href='/login/SignUp'" type="button">회원 가입</button>
        </div>
    </fieldset>
</div>
</body>
</html>

</body>
</html>