<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/loginsignup.css}"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title>회원 가입(기업)</title>
</head>
<body>
<div class="main">
    <div class="box_logo">
        <img src="/image/LOGO.png">
    </div>
    <form role="form" th:action method="post" enctype="multipart/form-data">
        <div class="inputCompanyLoginId">
            <label for="companyLoginId" class="form-label">아이디</label>
            <input type="text" class="form-control" id="companyLoginId" name="companyLoginId" placeholder="아이디를 입력하세요">
        </div>
        <div class="inputCompanyLoginPw">
            <label for="companyLoginPw" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="companyLoginPw" name="companyLoginPw"
                   placeholder="비밀번호를 입력하세요">
        </div>
        <div class="inputCompanyBusinessId">
            <label for="companyBusinessId" class="form-label">사업자번호</label>
            <input type="text" class="form-control" pattern="\d*" maxlength="10" id="companyBusinessId"
                   name="companyBusinessId" placeholder="예시)1234567890">
        </div>
        <div class="inputCompanyName">
            <label for="companyName" class="form-label">업체명</label>
            <input type="text" class="form-control" id="companyName" name="companyName" placeholder="업체명을 입력하세요">
        </div>
        <label for="companyCategory">업종</label>
        <select name="companyCategory" id="companyCategory">
            <option value="헬스장">헬스장</option>
            <option value="음식점">음식점</option>
            <option value="병원">병원</option>
            <option value="영화관">영화관</option>
            <option value="백화점">백화점</option>
            <option value="카페">카페</option>
        </select>
        <div class="inputCompanyAddress">
            <input type="text" id="sample4_roadAddress" name="companyAddress" placeholder="도로명주소">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
        </div>
        <div class="companyImg">
            <label for="companyImg" class="form-label">대표 이미지(1장)</label>
            <input type="file" id="companyImg" name="companyImg">
        </div>
        <div class="inputCompanyIntroduction">
            <label for="companyIntroduction" class="form-label">소개말</label>
            <input type="text" class="form-control" id="companyIntroduction" name="companyIntroduction"
                   placeholder="소개말을 입력하세요">
        </div>
        <div class="col-12">
            <button class="signUpBtn" type="submit">회원 가입</button>
        </div>
    </form>
    <button class="btn_common lrg" onclick="location.href='/login'" type="button">취소</button>
</div>
</body>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                document.getElementById("sample4_roadAddress").value = roadAddr;

            }
        }).open();
    }
</script>
</html>