<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link href="/css/signupmember.css" rel="stylesheet">
<body>
<img src="/image/LOGO.png">

<div class="signup_member_container">
    <div class="signup_member_menu">
        <div>개인 회원 가입</div>
        <br><br>
        <form role="form" th:action method="post">
            <div class="signup_member_list">
                <label for="memberLoginId" class="form-label">아이디</label>
                <input type="text" class="form-control" id="memberLoginId" name="memberLoginId"
                       placeholder="아이디를 입력하세요">
                <button id="loginIdCheck" type="button" disabled="disabled">아이디 확인</button>
                <div id="loginIdCheckComment"></div>
            </div>
            <div class="signup_member_list">
                <label for="memberLoginPw" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="memberLoginPw" name="memberLoginPw"
                       placeholder="비밀번호를 입력하세요">
                <div id="loginPwCheckComment"></div>
            </div>
            <div class="signup_member_list">
                <label for="memberLoginPw" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control" id="memberLoginPwCheck" name="memberLoginPwCheck"
                       placeholder="비밀번호를 다시한번 입력해주세요">
                <div id="loginPwCheckComment2"></div>
            </div>
            <div class="signup_member_list">
                <label for="memberName" class="form-label">이름</label>
                <input type="text" class="form-control" id="memberName" name="memberName" placeholder="이름을 입력하세요">
            </div>
            <div class="signup_member_birthday">
                <label class="form-label" for="year">생년월일</label><br>
                <input type="number" class="form-control" min="1900" max="2023" id="year"
                       name="year" placeholder="ex)2023">
                <label for="year" class="form-label">년</label>
                <input type="number" class="form-control" min="1" max="12" id="month"
                       name="month" placeholder="ex)1~12">
                <label for="month" class="form-label">월</label>
                <input type="number" class="form-control" min="1" max="31" id="day"
                       name="day" placeholder="ex)1~31">
                <label for="day" class="form-label">일</label>
            </div>
            <div class="signup_member_button">
                <button class="signup_member_create" type="submit">회원 가입</button>
                <button class="signup_member_cancel" onclick="location.href='/login'" type="button">취소</button>
            </div>
        </form>
    </div>
</div>
</body>

<script th:inline="javascript">

    let memberList = [[${memberList}]];
    let idConfirm = false;
    let pwConfirm = false;

    // 아이디 입력칸
    let inputId = document.querySelector("#memberLoginId");
    // 아이디 확인 버튼
    let loginIdBtn = document.querySelector("#loginIdCheck");
    // 아이디 확인 코멘트
    let loginIdCheckComment = document.querySelector("#loginIdCheckComment");
    // 비밀번호 입력칸
    let inputPw = document.querySelector("#memberLoginPw");
    // 비밀번호 확인칸
    let inputPwCheck = document.querySelector("#memberLoginPwCheck");
    // 비밀번호 확인 코멘트
    let loginPwCheckComment = document.querySelector("#loginPwCheckComment");
    // 비밀번호 확인 코멘트2
    let loginPwCheckComment2 = document.querySelector("#loginPwCheckComment2");


    // 회원가입 버튼
    let createBtn = document.querySelector(".signup_member_create");

    // 1. 아이디가 5~10자리 일 때, 아이디 체크 버튼을 누르라고 명시
    inputId.addEventListener("keyup", function () {

        inputId.style.borderColor = "red";
        loginIdCheckComment.style.color = "red";
        if (inputId.value.length <= 15 && inputId.value.length >= 5) {
            loginIdCheckComment.innerHTML = "* 아이디 중복 확인 버튼을 눌러주세요.";
            idConfirm = false;
            loginIdBtn.disabled = false;
        } else {
            loginIdCheckComment.innerHTML = "* 아이디는 5~15자 사이로 입력해주세요";
            loginIdBtn.disabled = true;
            idConfirm = false;
        }
    });

    // 2. 아이디 확인 버튼을 누르면, memberList 에서 중복체크 후 결과 반환
    loginIdBtn.addEventListener("click", function () {
        for (let i = 0; i < memberList.length; i++) {
            if (memberList[i].loginId === inputId.value) {
                loginIdCheckComment.innerHTML = "* 중복된 아이디가 있습니다. 다시 입력해 주세요";
                return;
            }
        }
        loginIdCheckComment.innerHTML = "* 사용가능한 아이디 입니다.";
        inputId.style.borderColor = "green";
        loginIdCheckComment.style.color = "green";
        idConfirm = true;
    });

    // 3. 비밀번호는 특수문자를 포함해야 하며, 6자리 이상이여야 합니다를 명시.
    inputPw.addEventListener("keyup", function () {
        inputPwCheck.value = "";
        inputPwCheck.style.removeProperty("border-color");
        loginPwCheckComment2.innerHTML = "";

        if (inputPw.value.length >= 6 && /[~!@#$%^&*()_+|<>?:{}]/.test(inputPw.value)) {
            inputPw.style.borderColor = "green";
            loginPwCheckComment.style.color = "green";
            loginPwCheckComment.innerHTML = "* 비밀번호 확인을 진행해주세요.";
            pwConfirm = false;
        } else {
            inputPw.style.borderColor = "red";
            loginPwCheckComment.style.color = "red";
            loginPwCheckComment.innerHTML = "* 비밀번호는 특수문자를 포함하며, 6자리 이상이여야합니다."
            pwConfirm = false;
        }
    });

    // 4. 비밀번호 확인은 입력했던 비밀번호와 똑같은 값을 가졌을 때, 통과
    inputPwCheck.addEventListener("keyup", function () {
        if (inputPwCheck.value === inputPw.value) {
            inputPwCheck.style.borderColor = "green";
            loginPwCheckComment2.style.color = "green";
            loginPwCheckComment2.innerHTML = "* 비밀번호가 일치합니다.";
            pwConfirm = true;
        } else {
            inputPwCheck.style.borderColor = "red";
            loginPwCheckComment2.style.color = "red";
            loginPwCheckComment2.innerHTML = "* 비밀번호가 일치하지 않습니다.";
            pwConfirm = false;
        }
    });


    // 모든 데이터가 입력되고, 아이디 비밀번호 유효성 검사가 완료되었을 때, 회원가입 작동

    let allInput = document.querySelectorAll("input");

    createBtn.addEventListener("click", function () {

        for (let i = 0; i < allInput.length; i++) {
            if (allInput[i].value === '') {
                alert("모든 데이터가 입력되었는지 확인해 주세요.");
                event.preventDefault();
                return;
            }
        }

        if (idConfirm === false || pwConfirm === false) {
            alert("아이디 확인 및 비밀번호 확인을 해주세요.");
            event.preventDefault();
        }
    });
</script>
</html>