<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>여긴 어때</title>
</head>
<body>
<img src="/image/LOGO.png" style="width: 150px; height: fit-content;">
    <form action method="post">
        <label for="search">검색 : </label>
        <input type="text" name="search" id="search" placeholder="찾고자 하는 매장을 검색하세요" style="width:30%">
        <button type="submit" class="btn btn-primary" style="padding: 5px; border-style: dashed">검색!</button>
    </form>
    <br>
<div id="map" style="width:500px;height:400px;"></div>


<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c6b0a66decef0d8afcc9821dd4f4446&libraries=services">
    // 카카오 api 키
</script>
<script src="/js/KakaoApi.js"></script>
</body>
</html>