<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyheader :: bodyheader"/>

<!--여기 수정해야함 -->
<div class="container">
    <div class="companyname">
        <span>업체명 :</span>
        <span th:text="${company.companyName}"></span><br/>
    </div>
    <div class="image">
        <img th:src="|/image/${company.companyImg}|" width="100%" height="100%"/>
    </div>
    <div class="companyinfo">
        <div class="companyadress">
            <h1>업체 주소 :</h1>
            <span th:text="${company.companyAddress}"></span><br/>
        </div>
        <div class="companystars">
            <h1>업체 별점 :</h1>
            <span th:text="${starsPoint}"></span><br/>

            <h1>별점 매기기 :</h1>
            <form th:action="|/home/${companyId}/star|" method="post">
                <input type="number" name="starPoint" max="5" min="1" step="1" placeholder="별점">
                <span>/ 5 </span>
                <input type="submit" value="점수 등록">
            </form>
        </div>
        <div class="companyintroduction">
            <h1>업체 소개 :</h1>
            <span th:text="${company.companyIntroduction}"></span><br/>
        </div>
    </div>
    <div class="gocompanyreview">
        <a herf="/hone">업체 리뷰 보러가기</a>
    </div>
    <div class="gocompanyeventpost">
        <a herf="/hone">업체 이벤트 보러가기</a>
    </div>

    <div class="companycomment">
        <form th:action="|/home/${companyId}/comment|" method="post">
            <input type="text" name="commentContent" id="commentContent" placeholder="한줄 평을 남겨주세요!" style="width:500px; height:100px;">
            <input type="submit" value="등록">
        </form>
    </div>
    <div class="companycommentlist">

        <h2>업체 한줄평</h2>
        <ul>
            <li>번호</li>
            <li>작성자</li>
            <li>작성 내용</li>
            <li>날짜 </li>
        </ul>
        <ui th:if="${commentList.size() != 0}" th:each="comment,commentStat : ${commentList}">
            <br>
            <li th:text="${commentStat.count}">순번</li>
            <li th:text="${comment.getMember().getMemberName()}">작성자</li>
            <li th:text="${comment.getCommentContent()}">작성 내용</li>
            <li th:text="${comment.getCommentWriteDate().getYear()} +  '년 '  + ${comment.getCommentWriteDate().getMonthValue()} +  '월 '
    + ${comment.getCommentWriteDate().getDayOfMonth()} +  '일 '  + ${comment.getCommentWriteDate().getHour()} +  '시 '  + ${comment.getCommentWriteDate().getMinute()} +  '분'" >날짜</li>
        </ui>
    </div>
</div>
</body>
</html>