<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>

<!--  업체 상세 정보의 css 입니다.  -->
<link href="/css/infocompany.css" rel="stylesheet">

<body>
<div th:replace="fragments/bodyheader :: bodyheader"/>

<div class="container">
    <div class="companyname">
        <span th:text="${company.getName()}"></span>
    </div>
    <div class="image">
        <img th:src="|/image/${company.companyImg}|" width="100%" height="100%"/>
    </div>
    <div class="companyinfo">
        <div class="companyadress">
            <span class="list">업체 주소 </span>
            <br><br>
            <span th:text="${company.companyAddress}"></span>
        </div>
        <div class="companystars">
            <span class="list">업체 별점 </span>
            <br><br>
            <span th:text="${starsPoint}+'점'"></span><br><br>
            <div class="star-ratings">
                <div
                        class="star-ratings-fill space-x-2 text-lg"
                        th:style="'width:' + ${starsPoint} * 20 + '%'"
                >
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <div class="star-ratings-base space-x-2 text-lg">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
            </div>
            <br>
            <br>
            <span sec:authorize="hasRole('MEMBER')" class="list">별점 매기기 (개인회원) </span>
            <br><br>
            <form sec:authorize="hasRole('MEMBER')" th:action="|/companies/${companyId}/star|" method="post">
                <input type="number" name="starPoint" max="5" min="1" step="1" value="3" placeholder="별점">
                <span>/ 5 </span>
                <input type="submit" class="button" id="starButton" value="점수 등록">
                <div class="star-warning">* 별점은 한번만 입력 가능합니다.</div>
            </form>
        </div>
    </div>
    <div class="companyintroduction">
        <span class="list">업체 소개 </span><br><br>
        <div class="companyintroductiontext">
            <span th:text="${company.companyIntroduction}"></span>
        </div>
    </div>
    <div class="gocompanyreview">
        <button class="button"
                th:onclick="|location.href='@{|/review/list?searchKeyword=&name=${company.getName()}|}'|">업체 리뷰 보러가기
        </button>
    </div>
    <div class="gocompanyeventpost">
        <button class="button"
                th:onclick="|location.href='@{|/events/eventPost/search?searchKeyword=${company.getName()}|}'|">업체 이벤트
            보러가기
        </button>
    </div>
    <div class="companycomment">
        <form sec:authorize="hasRole('MEMBER')" th:action="|/companies/${companyId}/comment|" method="post">
            <input type="text" name="commentContent" id="commentContent" placeholder="한줄 평을 남겨주세요!"
                   style="width:90%; height:60px">
            <input type="submit" class="button" id="commentButton" value="등록">
        </form>
    </div>

    <div class="companycommentlist">
        <span class="list">업체 한줄평</span>
        <br>
        <br>
        <ul>
            <li class="companycommentnum">번호</li>
            <li class="companycommentwriter">작성자</li>
            <li class="companycommentcontent">작성 내용</li>
            <li class="companycommenttime">작성 시간</li>
        </ul>
        <br>
        <ul th:if="${commentList.size() != 0}" th:each="comment,commentStat : ${commentList}">
            <li class="companycommentnum" th:text="${commentStat.count}">순번</li>
            <li class="companycommentwriter" th:text="${comment.getMember().getName()}">작성자</li>
            <li class="companycommentcontent" th:text="${comment.getCommentContent()}">작성 내용</li>
            <li class="companycommenttime" th:text="${comment.getCommentWriteDate().getYear()} +  '년 '  + ${comment.getCommentWriteDate().getMonthValue()} +  '월 '
    + ${comment.getCommentWriteDate().getDayOfMonth()} +  '일 '  + ${comment.getCommentWriteDate().getHour()} +  '시 '  + ${comment.getCommentWriteDate().getMinute()} +  '분'">
                날짜
            </li>
        </ul>
    </div>
</div>
<div th:replace="fragments/bodyfooter :: bodyfooter"/>

</body>
<script th:inline="javascript">

    let paramStatus = [[${param.status}]];
    let company = [[${company}]];
    let member = [[${member}]];
    let allStars = [[${allStars}]];

    let starButton = document.querySelector("#starButton");

    let checkStarPoint = allStars.filter(n => n.company.loginId === company.loginId).filter(n => n.member.loginId === member.loginId);

    starButton.addEventListener("click", function () {
        if (checkStarPoint.length >= 1) {
            alert("별점은 한번만 줄 수 있습니다.")
            event.preventDefault();
        } else {
            alert("별점이 입력되었습니다.")
        }
    });


    // 코멘트에 빈칸만 입력시 입력이 되지 않는 메서드

    let commentButton = document.querySelector("#commentButton");
    let commentContent = document.querySelector("#commentContent");
    commentButton.addEventListener("click", function () {
        if (commentContent.value.trim() === '') {
            alert("한줄 평은 빈칸만 입력할 수 없습니다.");
            event.preventDefault();
        } else {
            alert("한줄 평이 정상적으로 입력 되었습니다.");
        }
    });


</script>
</html>